@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 10s linear infinite;
  }
}